<strong>Ol치 {{ provider }} </strong>
<p>Houve um cancelamento de hor치rio, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: {{ user }} </strong><br />
  <strong>Data/Hora: {{ date}} </strong><br />

  <br />
  <small>
    O hor치rio est치 disponivel novamente para um novo agendamento.
  </small>
</p>
