<strong>Olá, {{provider}}</strong>
<p>Houve um cancelamento de horário, confira os detalhes abaixo: </p>
<p><strong>Cliente:</strong> {{user}} <br/>
<p><strong>Data:</strong> {{date}}</p> <br/>
<br/>

<small>O Horário esta disponível para novos agendamentos</small>
</p>
